# Multi-Label Text Classification

In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install requests
import requests

req = requests.get('https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/stackoverflow.csv')
url_content = req.content
csv_file = open('/content/downloaded.csv', 'wb')

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2020.12.5)

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.model_selection import train_test_split

from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC

from sklearn.multiclass import OneVsRestClassifier

In [4]:
import matplotlib.pyplot as plt
import tensorflow as tf
import seaborn as sns
import pickle
import random

In [23]:
df = pd.read_csv('/content/Bugs1.csv',index_col=0)

In [24]:
df.head()

                                                Text                                  Tags
1  My payment got failed many times when tried to...  ['Payment Failure', 'Severity High']
2                        My screen is getting struck             ['UX/UI', 'Severity Low']
3                could not complete payment process    ['Payment Failure', 'Severity Low']
4                          Could not create login id     ['Login Failure' ,'Severity Low']
5               Failed to create login id many times    ['Login Failure', 'Severity High']

In [25]:
type(df['Tags'].iloc[0])

str

In [26]:
import ast

In [27]:
df['Tags'].iloc[0]

"['Payment Failure', 'Severity High']"

In [28]:
ast.literal_eval(df['Tags'].iloc[0])

['Payment Failure', 'Severity High']

In [29]:
df['Tags'] = df['Tags'].apply(lambda x: ast.literal_eval(x))

In [30]:
df.head()

                                                Text                              Tags
1  My payment got failed many times when tried to...  [Payment Failure, Severity High]
2                        My screen is getting struck             [UX/UI, Severity Low]
3                could not complete payment process    [Payment Failure, Severity Low]
4                          Could not create login id     [Login Failure, Severity Low]
5               Failed to create login id many times    [Login Failure, Severity High]

In [31]:
y = df['Tags']
y

1     [Payment Failure, Severity High]
2                [UX/UI, Severity Low]
3      [Payment Failure, Severity Low]
4        [Login Failure, Severity Low]
5       [Login Failure, Severity High]
                    ...
60     [Payment Failure, Severity Low]
61     [Password error, Severity High]
62      [Login Failure, Severity High]
63               [UX/UI, Severity Low]
64    [Payment Failure, Severity High]
Name: Tags, Length: 64, dtype: object

In [32]:
multilabel = MultiLabelBinarizer()

In [33]:
y = multilabel.fit_transform(df['Tags'])

In [34]:
y

array([[0, 0, 0, 1, 1, 0, 0],
       [0, 0, 0, 0, 0, 1, 1],
       [0, 0, 0, 1, 0, 1, 0],
       [1, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1, 1],
       [1, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1, 1],
       [1, 0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 1, 0, 0],
       [0, 0, 0, 1, 0, 1, 0],
       [1, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 1, 0, 0],
       [0, 1, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 1, 0, 0],
       [0, 1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1, 1],
       [0, 0, 0, 1, 1, 0, 0],
       [0, 1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1, 1],
       [0, 0, 0, 1, 1, 0, 0],
       [0, 1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1, 1],
       [0, 0, 0, 1, 1, 0, 0],
       [0, 1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1, 1],
       [0, 0, 0, 1, 1, 0, 0]])

In [35]:
multilabel.classes_

array(['Login Failure', 'Password error', 'Password errorSeverity High',
       'Payment Failure', 'Severity High', 'Severity Low', 'UX/UI'],
      dtype=object)

In [36]:
pd.DataFrame(y, columns=multilabel.classes_)

    Login Failure  Password error  ...  Severity Low  UX/UI
0               0               0  ...             0      0
1               0               0  ...             1      1
2               0               0  ...             1      0
3               1               0  ...             1      0
4               1               0  ...             0      0
..            ...             ...  ...           ...    ...
59              0               0  ...             1      0
60              0               1  ...             0      0
61              1               0  ...             0      0
62              0               0  ...             1      1
63              0               0  ...             0      0

[64 rows x 7 columns]

In [19]:
# lets say you have -> l,e,t,s, ,

In [37]:
tfidf = TfidfVectorizer(analyzer='word', max_features=10000, ngram_range=(1,3), stop_words='english')
X = tfidf.fit_transform(df['Text'])
X.shape

(64, 362)

In [38]:
pickle.dump(tfidf, open("/content/tfidf.pkl","wb"))

In [168]:
# tfidf = TfidfVectorizer()
# X = tfidf.fit_transform(df_cleaned['total'])
# X.shape

In [39]:
X

<64x362 sparse matrix of type '<class 'numpy.float64'>'
	with 639 stored elements in Compressed Sparse Row format>

In [40]:
# tfidf.vocabulary_

In [41]:
X.shape, y.shape

((64, 362), (64, 7))

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.02, random_state = 0)

# Build Model

In [43]:
sgd = SGDClassifier()
lr = LogisticRegression(solver='lbfgs')
svc = LinearSVC()

In [44]:
def j_score(y_true, y_pred):
  jaccard = np.minimum(y_true, y_pred).sum(axis = 1)/np.maximum(y_true, y_pred).sum(axis = 1)
  return jaccard.mean()*100


def print_score(y_pred, clf):
  print("Clf: ", clf.__class__.__name__)
  print('Jacard score: {}'.format(j_score(y_test, y_pred)))
  print('----')

In [45]:
for classifier in [LinearSVC(C=1.5, penalty = 'l1', dual=False)]:
  clf = OneVsRestClassifier(classifier)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  print_score(y_pred, classifier)

Clf:  LinearSVC
Jacard score: 100.0
----

In [46]:
for classifier in [sgd, lr, svc]:
  clf = OneVsRestClassifier(classifier)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  print_score(y_pred, classifier)

Clf:  SGDClassifier
Jacard score: 41.666666666666664
----
Clf:  LogisticRegression
Jacard score: 75.0
----
Clf:  LinearSVC
Jacard score: 100.0
----

## Model Test with Real Data

In [47]:
import joblib
joblib.dump(clf, "/content/modelfinal.pkl")

['/content/modelfinal.pkl']

In [48]:
multilabel = MultiLabelBinarizer()
y = multilabel.fit_transform(df['Tags'])
#inverse_transform
z=multilabel.inverse_transform(y)
pickle.dump(multilabel, open("/content/multilabel.pkl","wb"))

In [49]:
loaded_model = joblib.load("/content/modelfinal.pkl")

In [50]:
tfid = joblib.load("/content/tfidf.pkl")

In [51]:
inv = joblib.load("/content/multilabel.pkl")

In [64]:
x = ['not able to create a password']

In [65]:
xt = tfid.transform(x)

In [66]:
loaded_model.predict(xt)

array([[0, 1, 0, 0, 0, 1, 0]])

In [67]:
inv.inverse_transform(loaded_model.predict(xt))

[('Password error', 'Severity Low')]